In [2]:
import pandas as pd

df = pd.read_csv('https://stepik.org/media/attachments/lesson/681964/2_2_14.csv')

# В ans содержится правильный ответ. Перед отправкой своего решения, сравнитесь с ним.
ans = pd.read_csv('https://stepik.org/media/attachments/lesson/681964/2_2_14_ans.csv', index_col=0)

In [7]:
df['nans_num'] = df.isnull().sum(axis=1)

In [11]:
indexes2Drop = df[df.nans_num>2].index

In [14]:
df.drop(indexes2Drop, axis=0, inplace=True)

In [20]:
df.dropna(subset=['age'], axis=0, inplace=True)

In [26]:
df['user_time_accident'].fillna(df['user_time_accident'].median(), inplace=True)

In [34]:
df[['age', 'user_rides', 'user_time_accident']]

     age  user_rides  user_time_accident
0   36.0       907.0                10.0
1   32.0       343.0                15.0
3   32.0       852.0                 5.0
4   34.0       344.0                10.0
5   35.0      1124.0                 3.0
6   34.0       677.0                 7.0
8   26.0       629.0                12.0
9   22.0       208.0                 7.0
10  22.0       157.0                 3.0
12  53.0      1412.0                10.0
13  20.0      2100.0                10.0
14  43.0         NaN                 8.0
16  42.0       864.0                14.0
18  23.0       417.0                 8.0
20  22.0       912.0                10.0
21  31.0      1234.0                 8.0
22  49.0       621.0                24.0
24  18.0       968.0                10.0
25  36.0       980.0                10.0
26  29.0       540.0                 6.0
28  36.0      1814.0                10.0
31  38.0       547.0                15.0
32  42.0       306.0                10.0
33  47.0       172.0                10.0
35  39.0      1073.0                10.0
36  18.0       805.0                15.0
37  18.0      2902.0                10.0
38  49.0         NaN                10.0
40  35.0      1206.0                 1.0
41  30.0       823.0                14.0
42  19.0      1753.0                10.0
45  47.0       996.0                10.0
47  24.0      1130.0                10.0
49  30.0       103.0                10.0

In [35]:
ans

     age  user_rides  user_time_accident
0   36.0       907.0                10.0
1   32.0       343.0                15.0
3   32.0       852.0                 5.0
4   34.0       344.0                10.0
5   35.0      1124.0                 3.0
6   34.0       677.0                 7.0
8   26.0       629.0                12.0
9   22.0       208.0                 7.0
10  22.0       157.0                 3.0
12  53.0      1412.0                10.0
13  20.0      2100.0                10.0
14  43.0         NaN                 8.0
16  42.0       864.0                14.0
18  23.0       417.0                 8.0
20  22.0       912.0                10.0
21  31.0      1234.0                 8.0
22  49.0       621.0                24.0
24  18.0       968.0                10.0
25  36.0       980.0                10.0
26  29.0       540.0                 6.0
28  36.0      1814.0                10.0
31  38.0       547.0                15.0
32  42.0       306.0                10.0
33  47.0       172.0                10.0
35  39.0      1073.0                10.0
36  18.0       805.0                15.0
37  18.0      2902.0                10.0
38  49.0         NaN                10.0
40  35.0      1206.0                 1.0
41  30.0       823.0                14.0
42  19.0      1753.0                10.0
45  47.0       996.0                10.0
47  24.0      1130.0                10.0
49  30.0       103.0                10.0