In [63]:
import pandas as pd

rides = pd.read_csv('https://stepik.org/media/attachments/lesson/779916/3_1_6.csv')

In [64]:
transform_75 = lambda x: x.quantile(0.75)

In [65]:
min_max_mean = lambda x: (max(x)-min(x))/x.mean()

In [88]:
count_40 = lambda x: x[x>40].count()

In [92]:
sum_40 = lambda x: x[x>40].sum()

In [93]:
rides['feature_1'] = rides.groupby('user_id', as_index=False)['ride_cost'].transform(transform_75)

In [94]:
rides['feature_2'] = rides.groupby('user_id', as_index=False)['rating'].transform(min_max_mean)

In [95]:
rides['feature_3'] = rides.groupby('car_id', as_index=False)['ride_duration'].transform(count_40)

In [96]:
rides['feature_4'] = rides.groupby('car_id', as_index=False)['ride_duration'].transform(sum_40)

In [97]:
rides

,car_id,ride_id,user_id,rating,ride_duration,ride_cost,true_feature_1,true_feature_2,true_feature_3,true_feature_4,feature_1,feature_2,feature_3,feature_4
0,v13590850L,m1q,S54951221d,1.38,52,723,599.25,1.043328,1,52,599.25,1.043328,1,52
1,C-1092574s,q1w,h90416721m,8.36,33572,470001,470001.00,0.000000,6,100329,470001.00,0.000000,6,100329
2,i77678921h,i1i,A15424124M,7.03,49,385,385.00,0.000000,3,169,385.00,0.000000,3,169
3,U16614632F,p1m,Q22613814X,6.87,43,510,510.00,0.000000,5,320,510.00,0.000000,5,320
4,i55328849i,I1A,N22883211D,4.30,110,1536,1536.00,0.000000,10,23108,1536.00,0.000000,10,23108
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,j22108372p,V1J,V75566459d,4.00,23958,239574,179724.50,0.102497,1,23958,179724.50,0.102497,1,23958
96,B-3513567K,W1b,q20149942o,0.10,39,1946,1946.00,0.000000,4,17106,1946.00,0.000000,4,17106
97,u20627445L,e1z,b61297238i,0.65,25,293,836.00,1.875283,0,0,836.00,1.875283,0,0
98,U16614632F,n1g,r18895845t,5.20,59,525,525.00,0.000000,5,320,525.00,0.000000,5,320
99,i77678921h,l1G,D93858475U,2.15,28,388,388.00,0.000000,3,169,388.00,0.000000,3,169